apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  template:
    spec:
      containers:
        - name: backend
          image: acrvote2earn.azurecr.io/backend:latest
          imagePullPolicy: Always
