apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: acrvote2earn.azurecr.io/frontend:latest
          imagePullPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      # nodePort est supprimé implicitement ou ignoré par le LoadBalancer
